<!-- Main Content -->
<main class="main-index">
    <!-- Background Image -->
    <div class="main-index-background" style="background-image: url('/images/paises-hablahispana.png')"></div>
    <!-- agregar opacidad sobre la imágen de fondo -->
    <div class="main-index-overlay"></div>
    <!-- contenido principal -->
    <div class="main-index-content">
        <a href="/" class="main-index-button btn-secondary" >
            <p>Ver Paises Hispanohablantes</p>
        </a>
    </div>
</main>