<nav class="bg-gray-200 bg-opacity-70 dark:bg-gray-950 dark:bg-opacity-70 p-4 w-full flex justify-between items-center">
    <!-- Header -->
    <header class="text-lg font-bold text-gray-900 dark:text-gray-100">
        SuperHeroes
    </header>

    <!-- Opciones de menú -->
    <div class="flex space-x-4">
        <% navbarLinks.forEach( link => { %>
            <a href='<%= link.href %>' 
           class="flex items-center justify-center h-full px-4 text-gray-700 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-gray-100 transition-colors duration-200">
            <span><%- link.icon %></span>&nbsp;<%= link.text %>
        </a>
        <% }); %>
    </div>
</nav>