<!-- Main Content -->
    <main class="main-index">
        <!-- Background Image -->
        <div class="main-index-background" style="background-image: url('/images/marvel-avengers_862x485.jpg');"></div>
        <!-- agregar opacidad sobre la imágen de fondo -->
        <div class="main-index-overlay"></div>
        <!-- contenido principal -->
        <div class="main-index-content">
            <a href="/api/heroes/dashboard" class="main-index-button">
                Ir a Superhéroes
            </a>
        </div>
    </main>