<!-- Main Content -->
<main class="main-index">
    <!-- Background Image -->
    <div class="main-index-background" style="background-image: url('/images/superheroes.jpg.webp')"></div>
    <!-- agregar opacidad sobre la imágen de fondo -->
    <div class="main-index-overlay"></div>
    <!-- contenido principal -->
    <div class="main-index-content">
        <a href="/api/heroes/dashboard" class="main-index-button btn-secondary" >
            <p>Ver Superherores</p>
        </a>
    </div>
</main>