<main class="main-container">
    <section>
            <div><h2 class="title-form">Quienes somos</h2></div>
            <div class="form-dark">
            <div>
                <p>
                    <strong>
                    Soy integrantes del equipo 15 de la Diplomatura de Desarrollo Web Full Stack, 
                    dictado por la U.N.Ca. y el Nodo Tecnológico de la Municipaidad de la capital
                    </strong>
                </p>
                <br>
                <br>
                <p>El equipo está compuesto por los siguientes integrantes:</p>
                <br>
                
                <div class="flex flex-wrap">
                   
                    <div class="w-full md:w-3/12 lg:w-4/12 lg:mb-0 mb-12 px-3">
                      <div class="px-6">
                         <div class="pt-6 text-center">
                          <h5 class="text-xl font-bold">Mario Alaniz</h5>
                        </div>
                      </div>
                    </div>
                    
    
            </div>    
        </div>
    </section>
</main>