<main class="main-container">
    <section>
            <div><h2 class="title-form" style="text-align: center;">Quienes somos</h2></div>
            <div class="form-dark">
            <div>
                <p>
                    <strong>
                    Somos integrantes del equipo 15 de la Diplomatura de Desarrollo Web Full Stack, 
                    dictado por la U.N.Ca. y el Nodo Tecnológico de la Municipaidad de la capital. Esta inregado por: 
                    </strong>
                </p>
                <br>
                <ul style="text-align: center;">
                    <p><strong>Candela</strong></p>
                    <p><strong>Martin</strong></p>
                    <p><strong>Mario Alaniz</strong></p>
                    <p><strong>Pablo</strong></p>
                </ul> 
             </div>    
        </div>
    </section>
</main>