<main class="main-container">
    <section>
            <div><h2 class="title-form">Quienes somos</h2></div>
            <div class="form-dark">
            <div>
                <p>
                    <strong>
                    Somos integrantes del equipo 12 de la Diplomatura de Desarrollo Web Full Stack, 
                    dictado por la U.N.Ca. y el Nodo Tecnológico de la Municipaidad de la capital
                    </strong>
                </p>
                <br>
                <br>
                <p>El equipo está compuesto por los siguientes integrantes:</p>
                <br>
                <p><strong>Gabriel Varela</strong></p>
                <p><strong>josé luis Rizo</strong></p>
                <p><strong>Mario Alaniz</strong></p>
                <p><strong>Luis Fernando Acosta</strong></p>
            </div>    
        </div>
    </section>
</main>